@import "bee/homepage";
@import "bee/about";

.bg-yellow {
    background-color: $yellow;
}

.bg-gray {
    background-color: $light;
}

.btn-secondary {
    color: $white;
}

.navbar-toggler {
    border: none;
}

.wrapper {
    padding-top: 0;
}

.wrapper-navbar {
    padding-bottom: 44px;

    @media screen and (min-width: 768px) {
        padding-bottom: 56px;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
    height: 40px;
    width: 40px;
    border-left: 2px solid $yellow;
    border-top: 2px solid $yellow;
}

.carousel-control-prev-icon {
    transform: rotate(-45deg);
}

.carousel-control-next-icon {
    transform: rotate(135deg);
}

.wpcf7-form {
    padding-top: 20px;
}

.demo-input {
    border-color: $yellow !important;
}

.wpcf7-response-output {
    text-align: center;
}

.wpcf7-form-control.wpcf7-submit.demo-btn {
    @extend .btn-primary;
    color: $white;
}

.footer-icon-container {
    width: 25px;
    display: inline-block;
}

.btn-primary {
    color: $white;
}

.navbar-nav {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    justify-content: center;
}

.menu-item {
    flex-grow: 1;
}

.header-nav {
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,.2);

    .navbar-nav {
        .nav-link {
            color: $darker-gray;
        }
        .active > .nav-link,
        .nav-link.active,
        .nav-link.show,
        .show > .nav-link {
            color: $primary;
        }
    }
}

.footer-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .menu-item {
        min-width: 120px;
        width: 33%;

        &:first-child,
        &:last-child {
            display: none;
        }
    }

    .nav-link {
        color: $gray;
        display: inline-block;

        &:hover {
            color: $yellow;
        }
    }
}

.page-after-header-slice {
    overflow: hidden;
    height: $slice-height;
    position: relative;
    top: 0;
    padding: 0;

    &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        height: $slice-height;
        width: 100%;
        background: transparent;
        border-bottom: solid $slice-height transparent;
        border-left: solid 130vw $secondary;
        z-index: -1;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 50%;
        transform: translateX(50%);
        height: $slice-height * .75;
        @include make-container();
        @include make-container-max-widths();
        background: $yellow;
        z-index: -2;
    }
}

.post {
    max-width: 720px;
    margin: 0 auto;

    img {
        margin: 30px auto;
        display: block;
    }

    .entry-content {
        text-align: justify;
    }
}

.post-navigation,
.comments-area {
    max-width: 720px;
    margin: auto;
}

.admin-bar .navbar{
    margin-top: 32px;
}

.page-link {
    border-color: $primary;
}

.pagination {
    justify-content: center;
}

.news-page {
    .post-title {
        font-size: 1.5rem;
        a {
            color: $black;
        }
    }
}

.page-header .404-page-title {
    font-size: 10rem;
}
