// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

// Bee theme variables
$white: #fff;
$yellow: #FBCC32;
$light-gray: #EDEDED;
$gray: #B2B7BB;
$darker-gray: #555F60;
$dark-gray: #262727;
$black: #000;



$heading-size: 36px;
$subheading-size: 24px;
$regular-size: 16px;
$small-size: 12px;

$slice-height: 180px;

// Bootstrap overrides
$font-family-sans-serif: 'PT Sans', sans-serif;
$primary: $yellow;
$secondary: $gray;
$light: $white;
$dark: $dark-gray;
$gray-dark: $black;
$body-color: #404040;
$yiq-text-dark: $black;
$jumbotron-bg: $secondary;
$input-placeholder-color: $secondary;

$border-width: 2px;
$border-color: $secondary;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$headings-font-weight: 700;

$input-btn-padding-y: .25rem;
