.about-page {
    h2 {
        margin-bottom: 30px;
    }

    h3 {
        font-weight: normal;
        font-size: 1.2em;
        margin-bottom: 0;
        margin-top: .5em;
    }

    p {
        color: $gray;
        margin-bottom: 0;
        line-height: 1.1;
    }

    table {
        width: 100%;
        color: $white;
        margin-bottom: 60px;

        tr:first-child {
            td {
                padding-top: 60px;
            }
        }

        tr:last-child {
            td {
                padding-bottom: 30px;
            }
        }

        td {
            width: 50%;
            background: $yellow;
            padding: 0 60px;

            &:first-child {
                background: $gray
            }
        }
    }

    .team {
        @include make-container();
        @include make-container-max-widths();
        text-align: center;
        margin-bottom: 60px;

    }

    .team-member {
        display: inline-block;
        vertical-align: top;
        width: 33%;
        min-width: 320px;
        margin-top: 40px;
    }

    .module-icon {
        background-position: center;
        background-size: 70px;
        background-repeat: no-repeat;

        &.people-interaction {
            background-image: url('/wp-content/themes/agroup-wp/img/people-interaction.svg');
        }

        &.technology {
            background-image: url('/wp-content/themes/agroup-wp/img/technology.svg')
        }

        &.people-value {
            background-image: url('/wp-content/themes/agroup-wp/img/people-value.svg')
        }
    }

    .about-table {
        p {
            color: $white;
        }

        @include media-breakpoint-down(md) {
            tr, td {
                display: block;
                width: 100%;
            }
        }
    }
}
