.site-main {
    width: 100%;
    overflow: hidden;
}

.bg-d-gray {
    background-color: $darker-gray;
}

.bg-l-gray {
    background-color: $light-gray;
}

.btn-white {
    background: $white;
}

.subtitle {
    margin-top: 75px;
    padding-bottom: 55px;
}

.home .wrapper {
    padding: 0;
}

.button-container .btn {
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-brand a {
    display: block;
    padding-bottom: 0;
}

.header-logo {
    width: 190px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: -5px;
}

.scroll-link {
    position: absolute;
    display: block;
    width: 20px;
    bottom: 90px;
    left: 50%;
    transform: tranlateX(-50%);
    z-index: 3;
    &::before {
        content: attr(data-content);
        display: block;
        width: 95px;
        height: auto;
        color: $white;
        text-align: center;
        position: relative;
        left: -40px;
        top: -15px;
        line-height: 1;
    }
    @include media-breakpoint-down(md) {
        display: none;
    }
}

.home .jumbotron {
    width: 100%;
    background: url('../img/jumbotron-background-s.jpg') $yellow top center no-repeat;
    background-size: contain;
    height: auto;
    padding-top: 50%;
    position: relative;
    @include media-breakpoint-up(md) {
        background: url('../img/jumbotron-background.jpg') $yellow center no-repeat;
        ackground-size: cover;
        height: 0;
    }
}

.jumbotron-title-container {
    width: 100%;
    @include media-breakpoint-down(sm) {
        margin-top: 50px;
    }
    @include media-breakpoint-up(md) {
        max-width: 770px;
        width: 50%;
        position: absolute;
        top: 38%;
        right: 0;
        transform: translateY(-30%);
    }
}

.jumbotron-title {
    max-width: 360px;
    font-size: 2.2rem;
    @include media-breakpoint-down(sm) {
        font-size: 1.5em;
        margin-left: auto;
        margin-right: auto;
    }
    @include media-breakpoint-down(xs) {
        font-size: 1.2em;
    }
}

.jumbotron-subtitle {
    max-width: 360px;
    font-size: 1.17rem;
    @include media-breakpoint-down(sm) {
        font-size: 1.1em;
        margin-left: auto;
        margin-right: auto;
    }
}

.hrb-logo {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.page-subtitle {
    font-size: 20px;
}

.modal-dialog.vid {
    max-width: 1200px;
    width: 85% !important;
    margin-left: auto;
    margin-right: auto;
}

.video-modal {
    width: 100%;
    position: relative;
    padding-bottom: 53.5%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.section-mb {
    margin-bottom: 80px;
}

.section-modules {
    margin-top: 70px;
    .subtitle {
        margin-bottom: -6px;
    }
    .slice {
        position: relative;
        margin-bottom: 0;
        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: -185px;
            left: -40px;
            left: -2vw;
            height: 280px;
            transform: rotate(4deg);
            @include make-container();
            background: $yellow;
            z-index: -1;
            width: 120%;
            width: 104vw;
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: -100px;
            right: -40px;
            right: -2vw;
            height: 280px;
            transform: rotate(-4deg);
            @include make-container();
            background: $secondary;
            z-index: -2;
            width: 120%;
            width: 104vw;
        }
    }
    .module-icon:hover {
        cursor: pointer;
    }
}

@include media-breakpoint-up(sm) {
    .module-description-list {
        padding: 0;
    }
}

.module-description {
    display: none;
    h3 {
        font-size: 1.4em;
    }
    &.active {
        display: block;
    }
}

.module-description-item-list {
    margin-top: 16px;
    padding: 0;
    @include media-breakpoint-up(lg) {
        max-width: 280px;
    }
}

.module-description-item {
    padding-bottom: .5rem;
    font-size: 0.9em;
    list-style: none;
}

.module-card {
    display: inline-block;
    vertical-align: top;
    width: 118px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    z-index: 2;
    .about-stroke {
        stroke-width: 2px;
        stroke: $darker-gray;
    }
    &.active {
        .stroke,
        .stroke-b {
            stroke: $white;
        }
        .module-icon {
            background-color: $darker-gray;
            &::before {
                background: $white;
            }
        }
    }
}

.module-card svg {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.module-icon {
    padding: 15px;
    height: 90px;
    width: 90px;
    border-radius: 3px;
    margin: 0 auto;
    background: $white;
    box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: all .3s;
    &:hover {
        background-color: #EDEDED;
    }
    svg {
        max-height: 70px;
    }
}

.module-label {
    color: $darker-gray;
    margin-top: 15px;
    line-height: 1;
}

infographick-container {
    vertical-align: middle;
}

.performance-infographics {
    width: 100%;
    max-width: 510px;
    margin: 0 0 20px;
    display: inline-block;
    vertical-align: middle;
    @include media-breakpoint-up(lg) {
        width: 33.33%;
        max-width: 100%;
        margin: 0;
        &:nth-child(2) {
            margin: 0 -20px 0 -10px;
        }
    }
}

.pdf-download-form {
    max-width: 700px;
    width: 100%;
    margin: auto;
    .cf7sr-g-recaptcha {
        display: inline-block;
        padding: 0 5px;
    }
    .wpcf7-form .wpcf7-submit {
        vertical-align: top;
    }
    @include media-breakpoint-down(sm) {
        .wpcf7 .wpcf7-form p {
            margin-bottom: 0;
        }
        .cf7sr-g-recaptcha {
            margin-bottom: 1rem;
        }
    }
    @include media-breakpoint-up(md) {
        br {
            display: none;
        }
        .wpcf7-form {
            input {
                background: transparent;
            }
            >p {
                display: flex;
                justify-content: center;
                margin-bottom: 0;
            }
            .wpcf7-form-control-wrap {
                width: 312px;
                max-width: 100%;
                display: inline-block;
                padding-bottom: 10px !important;
            }
            .wpcf7-submit {
                width: 302px;
                max-width: 100%;
            }
            .wpcf7-form-control-wrap {
                padding: 0 5px;
                input {
                    background: transparent;
                }
            }
            .wpcf7-submit {
                margin: 0 5px;
                height: 78px;
            }
            .ajax-loader {
                display: none;
            }
        }
    }
    .wpcf7-form .cf7sr-g-recaptcha-invalid {
        padding: 0;
        width: 0;
        height: 0;
    }
    .wpcf7 {
        max-width: none;
        width: 100%;
        input[type=submit] {
            background: $yellow;
            text-transform: uppercase;
            color: $darker-gray;
            padding: .25rem 1rem;
        }
    }
    @include media-breakpoint-down(xs) {
        .wpcf7 {
            max-width: 340px;
            width: 100%;
            margin: 0 auto;
        }
    }
}

#request-demo-widget .cf7sr-g-recaptcha>div {
    margin: 0 auto 20px;
}

.testemonials-carusel {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    .carousel-inner {
        height: 320px;
    }
    .carousel-item {
        padding-left: 50px;
        padding-right: 50px;
        margin: auto;
        @include media-breakpoint-up(md) {
            padding-left: 150px;
            padding-right: 150px;
        }
    }
}

.testemonial-quote {
    min-height: 190px;
    display: inline-block;
    vertical-align: middle;
    font-style: italic;
}

.testemonial-author {
    min-height: 90px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.testemonials-slice {
    position: relative;
    bottom: -$slice-height;
    padding: 0;
    &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 70px;
        left: -20px;
        left: -2vw;
        height: $slice-height;
        @include make-container();
        width: 120%;
        width: 104vw;
        background: $darker-gray;
        transform: rotate(3deg);
        z-index: -1;
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 70px;
        left: -20px;
        left: -2vw;
        height: $slice-height;
        @include make-container();
        width: 120%;
        width: 104vw;
        background: $yellow;
        transform: rotate(-3deg);
        z-index: -2;
        box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, .2);
    }
}

.post-thumbnail {
    background-size: cover;
    width: 100%;
    height: 0;
    padding-top: 83%;
}

.fixed-ribbons {
    position: fixed;
    bottom: 50px;
    right: 0;
    text-align: right;
    z-index: 10;
}

.fixed-ribbon {
    font-size: 16px;
    float: right;
    clear: both;
    margin-bottom: 5px;
    width: 135px;
    position: relative;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #141414;
    border-color: #141414;
    &:active,
    &:focus {
        box-shadow: none !important;
    }
    &::before {
        content: '';
        position: absolute;
        left: -20px;
        top: -2px;
        height: 48px;
        width: 20px;
        border-top: solid 48px #141414;
        border-left: solid 15px transparent;
        border-bottom: solid 20px transparent;
        background-color: transparent;
    }
    &.demo {
        width: 150px;
    }
    &.video {
        width: 120px;
    }
}

.footer-heading {
    font-size: 1.2rem;
}

.footer-link {
    font-size: 0.9em
}

.home {
    .widget_custom_html {
        list-style: none;
    }
    .entry-title {
        font-size: 1.2em;
        min-height: 2.2em;
        a {
            color: $body-color;
        }
    }
    .entry-content p {
        font-size: 0.9em;
        text-align: left;
    }
    .understrap-read-more-link {
        display: none
    }
}

.partners-list {
    img {
        max-width: 100%;
    }
    .gallery {
        text-align: center;
    }
    .gallery-item {
        display: inline-block;
        max-height: 250px;
        vertical-align: middle;
        min-width: 150px;
        padding: 15px;
    }
}

.section-clients {
    .clients-ul li {
        list-style: none;
    }
    @media (min-width: 370px) {
        .nav-item:first-child {
            border-right: 1px solid $darker-gray;
        }
    }
    .nav-link {
        color: $darker-gray;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 1;
        &.active {
            color: $primary;
        }
    }
    .gallery-item {
        vertical-align: middle;
        padding: 15px;
    }
    .logo-gallery {
        li {
            list-style: none;
        }
    }
    @include media-breakpoint-up(md) {
        .logo-gallery {
            min-height: 400px;
        }
    }
    @include media-breakpoint-up(lg) {
        .enable-logo-container {
            padding-left: 50px;
        }
        .enable-list-container {
            padding-right: 50px;
            border-right: 1px solid $light-gray;
        }
    }
}

.infographics-widget .cf7sr-g-recaptcha-invalid {
    display: none;
}

.wpcf7-form p {
    text-align: center;
}

.widget_text {
    list-style: none;
}
